<div  class="row ng-scope" >


    <div ng-controller="Task2InitCtrl">
        <div class="jumbotron">
            <h1>Hello, world!</h1>
            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <p><a class="btn btn-primary btn-lg"  role="button" ng-click="generateRandomNum()">Generate Random Number</a></p>

            <a class="btn btn-primary btn-lg pull-right" role="button" ng-click="play()">Play</a>
            <br/>
        </div>


        <div class="row">

        </div>
    </div>


</div>

