<div  class="row ng-scope" >


    <div ng-controller="Task2Ctrl">
        <div class="panel panel-default">
            <div class="panel-heading">Question - 1</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <canvas id="pie" class="chart chart-pie chart-xl  pull-left"  chart-data="data" chart-labels="labels" chart-options="options"
                                  height="300"></canvas>
                                            <div class="clearfix"></div>

                    </div>

                    <div class="col-md-6">
                        <canvas id="pie" class="chart chart-pie chart-xl"  chart-data="data" chart-labels="labels" chart-options="options" height="300"></canvas> 
                    </div>
                </div>
                <div class="row">

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer posuere erat a ante.Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Integer posuere erat a ante.</p>

                    <form class="form-horizontal">
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Option one is this and that&mdash;be sure to include why it's great
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Option two can be something else and selecting it will deselect option one
                            </label>
                        </div>
                    </form>
                </div>

            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-success pull-right">Next</button>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>


</div>
