<div  class="row ng-scope" >


    <div ng-controller="Task2Ctrl">
        <div class="panel panel-default">
            <div class="panel-heading">Question - 1</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <canvas id="pie" class="chart chart-pie chart-xl  pull-left"  chart-data="data" chart-labels="labels" chart-options="options"
                                height="300"></canvas>
                        <div class="clearfix"></div>

                    </div>

                    <div class="col-md-6">
                        <canvas id="pie" class="chart chart-pie chart-xl"  chart-data="data" chart-labels="labels" chart-options="options" height="300"></canvas> 
                    </div>
                </div>
                <div class="row">

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer posuere erat a ante.Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Integer posuere erat a ante.</p>

                    <form class="form-horizontal">
                        <md-radio-group ng-model="data.group1">
                            <md-radio-button value="Apple" class="md-primary">Apple</md-radio-button>
                            <md-radio-button value="Banana"> Banana </md-radio-button>
                            <md-radio-button value="Mango">Mango</md-radio-button>
                        </md-radio-group>
                    </form>
                </div>

            </div>
            <div class="panel-footer">
                <button type="button" class="btn btn-success pull-right">Next</button>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>


</div>
