<div  class="row ng-scope" >


    <div ng-controller="Task2IntroCtrl">
        <div class="panel panel-default">
            <div class="panel-heading">Instruction to Play</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <canvas id="pie" class="chart chart-pie chart-xl  pull-left"  chart-data="data" chart-labels="labels" chart-options="options"
                                height="300"></canvas>
                        <div class="clearfix"></div>

                    </div>

                    <div class="col-md-6">
                        <canvas id="pie" class="chart chart-pie chart-xl"  chart-data="data" chart-labels="labels" chart-options="options" height="300"></canvas> 
                    </div>
                </div>
                <div class="row">

                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Integer posuere erat a ante.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Integer posuere erat a ante.Lorem ipsum dolor sit amet, 
                        consectetur adipiscing elit. Integer posuere erat a ante.</p>


                </div>

            </div>
            <div class="panel-footer ">
                <md-button class="md-raised md-primary btn-lg pull-right" ng-click="start()">Start</md-button>
                <div class="clearfix"></div>
            </div>

        </div>
    </div>


</div>

